
.progressWrapper{
    display: flex;
    flex-direction: row;
    margin-top:50px ;
}

.stepPoint{
    border:none;
    width:30px;
    height:30px;
    border-radius: 100%;
    background-color: #EBE8FE;
    display: flex;
    justify-content:center;
    align-items: center;
    text-decoration: none;
}

.completed .stepPoint, .completed .stepLine{
    background-color: #5538EE;
}

.stepPoint:hover{
    cursor: pointer;
}

.stepLine{
    height:5px;
    width:100px;
    background-color: #EBE8FE;
}

.step{
    display: flex;
    align-items: center;
}

.stepNumber{
    color:white;
    font-weight: bold;
}


@media(max-width:500px) {

    .stepLine{
        width: 35px;
    }
    
}