.radioGroup{
    display: flex;
    flex-direction: column;
    gap:10px;
}

/* hide default radio button */
.radioGroup input[type="radio"] {display: none;}

.radioGroup .radioInput:hover{
    cursor: pointer;
}

.radioGroup .radioInput{
    border-radius: 30px;
    width: fit-content;
    padding: 10px 24px;
    border: 1px solid #F2F4F5;
    font-weight: normal;
    max-width: 500px;
}

.radioGroup .checked {
    color: #6B4EFF;
    background: #EBE8FE;
    border: 1px solid transparent;
}