.checkboxGroup{
    display: flex;
    flex-direction: column;
}

.checkboxGroup input[type="checkbox"] {display: none;}


.checkboxGroup .checkboxInput:hover{
    cursor: pointer;
    background-color: #E0E5E8;
}

.checkboxGroup .checkboxInput{
    background-color: #F2F4F5;
    border-radius: 8px;
    width: fit-content;
    padding: 10px 24px;
    border: 1px solid #F2F4F5;
    font-weight: normal;
}


.checkboxGroup .checked {
    color: #6B4EFF;
    background: #EBE8FE;
    border: 1px solid transparent;
}