
.progressWrapper{
    display: flex;
    flex-direction: row;
    margin-top:50px ;
}

.stepPoint{
    width:30px;
    height:30px;
    border-radius: 100%;
    background-color: black;
    display: flex;
    justify-content:center;
    align-items: center;
}

.stepLine{
    height:5px;
    width:100px;
    background-color: black;
}

.step{
    display: flex;
    align-items: center;
}

.stepNumber{
    color:white;
    font-weight: bold;
}
